.fl-builder-content *,.fl-builder-content *:before,.fl-builder-content *:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
.fl-row:before,.fl-row:after,.fl-row-content:before,.fl-row-content:after,.fl-col-group:before,.fl-col-group:after,.fl-col:before,.fl-col:after,.fl-module:before,.fl-module:after,.fl-module-content:before,.fl-module-content:after{
  display:table;
  content:" "
}
.fl-row:after,.fl-row-content:after,.fl-col-group:after,.fl-col:after,.fl-module:after,.fl-module-content:after{
  clear:both
}
.fl-clear{
  clear:both
}
.fl-clearfix:before,.fl-clearfix:after{
  display:table;
  content:" "
}
.fl-clearfix:after{
  clear:both
}
.sr-only{
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  border:0
}
.fl-row,.fl-row-content{
  margin-left:auto;
  margin-right:auto;
  min-width:0
}
.fl-row-content-wrap{
  position:relative
}
.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap{
  background-attachment:scroll
}
.fl-row-bg-video,.fl-row-bg-video .fl-row-content,.fl-row-bg-embed,.fl-row-bg-embed .fl-row-content{
  position:relative
}
.fl-row-bg-video .fl-bg-video,.fl-row-bg-embed .fl-bg-embed-code{
  bottom:0;
  left:0;
  overflow:hidden;
  position:absolute;
  right:0;
  top:0
}
.fl-row-bg-video .fl-bg-video video,.fl-row-bg-embed .fl-bg-embed-code video{
  bottom:0;
  left:0;
  max-width:none;
  position:absolute;
  right:0;
  top:0
}
.fl-row-bg-video .fl-bg-video video{
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto
}
.fl-row-bg-video .fl-bg-video iframe,.fl-row-bg-embed .fl-bg-embed-code iframe{
  pointer-events:none;
  width:100vw;
  height:56.25vw;
  max-width:none;
  min-height:100vh;
  min-width:177.77vh;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%)
}
.fl-bg-video-fallback{
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0
}
.fl-row-bg-slideshow,.fl-row-bg-slideshow .fl-row-content{
  position:relative
}
.fl-row .fl-bg-slideshow{
  bottom:0;
  left:0;
  overflow:hidden;
  position:absolute;
  right:0;
  top:0;
  z-index:0
}
.fl-builder-edit .fl-row .fl-bg-slideshow *{
  bottom:0;
  height:auto!important;
  left:0;
  position:absolute!important;
  right:0;
  top:0
}
.fl-row-bg-overlay .fl-row-content-wrap:after{
  border-radius:inherit;
  content:'';
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0
}
.fl-row-bg-overlay .fl-row-content{
  position:relative;
  z-index:1
}
.fl-row-default-height .fl-row-content-wrap,.fl-row-custom-height .fl-row-content-wrap{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  min-height:100vh
}
.fl-row-overlap-top .fl-row-content-wrap{
  display:-webkit-inline-box;
  display:-webkit-inline-flex;
  display:-moz-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  width:100%
}
.fl-row-default-height .fl-row-content-wrap,.fl-row-custom-height .fl-row-content-wrap{
  min-height:0
}
.fl-row-default-height .fl-row-content,.fl-row-full-height .fl-row-content,.fl-row-custom-height .fl-row-content{
  -webkit-box-flex:1 1 auto;
  -moz-box-flex:1 1 auto;
  -webkit-flex:1 1 auto;
  -ms-flex:1 1 auto;
  flex:1 1 auto
}
.fl-row-default-height .fl-row-full-width.fl-row-content,.fl-row-full-height .fl-row-full-width.fl-row-content,.fl-row-custom-height .fl-row-full-width.fl-row-content{
  max-width:100%;
  width:100%
}
.fl-row-default-height.fl-row-align-center .fl-row-content-wrap,.fl-row-full-height.fl-row-align-center .fl-row-content-wrap,.fl-row-custom-height.fl-row-align-center .fl-row-content-wrap{
  align-items:center;
  justify-content:center;
  -webkit-align-items:center;
  -webkit-box-align:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-align:center;
  -ms-flex-pack:center
}
.fl-row-default-height.fl-row-align-bottom .fl-row-content-wrap,.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap,.fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap{
  align-items:flex-end;
  justify-content:flex-end;
  -webkit-align-items:flex-end;
  -webkit-justify-content:flex-end;
  -webkit-box-align:end;
  -webkit-box-pack:end;
  -ms-flex-align:end;
  -ms-flex-pack:end
}
.fl-col-group-equal-height{
  display:flex;
  flex-wrap:wrap;
  width:100%
}
.fl-col-group-equal-height.fl-col-group-has-child-loading{
  flex-wrap:nowrap
}
.fl-col-group-equal-height .fl-col,.fl-col-group-equal-height .fl-col-content{
  display:flex;
  flex:1 1 auto
}
.fl-col-group-equal-height .fl-col-content{
  flex-direction:column;
  flex-shrink:1;
  min-width:1px;
  max-width:100%;
  width:100%
}
.fl-col-group-equal-height:before,.fl-col-group-equal-height .fl-col:before,.fl-col-group-equal-height .fl-col-content:before,.fl-col-group-equal-height:after,.fl-col-group-equal-height .fl-col:after,.fl-col-group-equal-height .fl-col-content:after{
  content:none
}
.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-top .fl-col-content,.fl-col-group-equal-height.fl-col-group-align-top .fl-col-content{
  justify-content:flex-start
}
.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content,.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content{
  align-items:center;
  justify-content:center
}
.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content,.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content{
  justify-content:flex-end
}
.fl-col-group-equal-height.fl-col-group-align-center .fl-module,.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group{
  width:100%
}
.fl-col{
  float:left;
  min-height:1px
}
.fl-col-bg-overlay .fl-col-content{
  position:relative
}
.fl-col-bg-overlay .fl-col-content:after{
  border-radius:inherit;
  content:'';
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0
}
.fl-col-bg-overlay .fl-module{
  position:relative;
  z-index:2
}
.fl-module img{
  max-width:100%
}
.fl-builder-module-template{
  margin:0 auto;
  max-width:1100px;
  padding:20px
}
.fl-builder-content a.fl-button,.fl-builder-content a.fl-button:visited{
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  display:inline-block;
  font-size:16px;
  font-weight:400;
  line-height:18px;
  padding:12px 24px;
  text-decoration:none;
  text-shadow:none
}
.fl-builder-content .fl-button:hover{
  text-decoration:none
}
.fl-builder-content .fl-button:active{
  position:relative;
  top:1px
}
.fl-builder-content .fl-button-width-full .fl-button{
  display:block;
  text-align:center
}
.fl-builder-content .fl-button-width-custom .fl-button{
  display:inline-block;
  text-align:center;
  max-width:100%
}
.fl-builder-content .fl-button-left{
  text-align:left
}
.fl-builder-content .fl-button-center{
  text-align:center
}
.fl-builder-content .fl-button-right{
  text-align:right
}
.fl-builder-content .fl-button i{
  font-size:1.3em;
  height:auto;
  margin-right:8px;
  vertical-align:middle;
  width:auto
}
.fl-builder-content .fl-button i.fl-button-icon-after{
  margin-left:8px;
  margin-right:0
}
.fl-builder-content .fl-button-has-icon .fl-button-text{
  vertical-align:middle
}
.fl-icon-wrap{
  display:inline-block
}
.fl-icon{
  display:table-cell;
  vertical-align:middle
}
.fl-icon a{
  text-decoration:none
}
.fl-icon i{
  float:right;
  height:auto;
  width:auto
}
.fl-icon i:before{
  border:none!important;
  height:auto;
  width:auto
}
.fl-icon-text{
  display:table-cell;
  text-align:left;
  padding-left:15px;
  vertical-align:middle
}
.fl-icon-text-empty{
  display:none
}
.fl-icon-text *:last-child{
  margin:0!important;
  padding:0!important
}
.fl-icon-text a{
  text-decoration:none
}
.fl-icon-text span{
  display:block
}
.fl-icon-text span.mce-edit-focus{
  min-width:1px
}
.fl-photo{
  line-height:0;
  position:relative
}
.fl-photo-align-left{
  text-align:left
}
.fl-photo-align-center{
  text-align:center
}
.fl-photo-align-right{
  text-align:right
}
.fl-photo-content{
  display:inline-block;
  line-height:0;
  position:relative;
  max-width:100%
}
.fl-photo-img-svg{
  width:100%
}
.fl-photo-content img{
  display:inline;
  height:auto;
  max-width:100%
}
.fl-photo-crop-circle img{
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%
}
.fl-photo-caption{
  font-size:13px;
  line-height:18px;
  overflow:hidden;
  text-overflow:ellipsis
}
.fl-photo-caption-below{
  padding-bottom:20px;
  padding-top:10px
}
.fl-photo-caption-hover{
  background:rgba(0,0,0,.7);
  bottom:0;
  color:#fff;
  left:0;
  opacity:0;
  filter:alpha(opacity=0);
  padding:10px 15px;
  position:absolute;
  right:0;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in
}
.fl-photo-content:hover .fl-photo-caption-hover{
  opacity:100;
  filter:alpha(opacity=100)
}
.fl-builder-pagination,.fl-builder-pagination-load-more{
  padding:40px 0
}
.fl-builder-pagination ul.page-numbers{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center
}
.fl-builder-pagination li{
  display:inline-block;
  list-style:none;
  margin:0;
  padding:0
}
.fl-builder-pagination li a.page-numbers,.fl-builder-pagination li span.page-numbers{
  border:1px solid #e6e6e6;
  display:inline-block;
  padding:5px 10px;
  margin:0 0 5px
}
.fl-builder-pagination li a.page-numbers:hover,.fl-builder-pagination li span.current{
  background:#f5f5f5;
  text-decoration:none
}
.fl-slideshow,.fl-slideshow *{
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box
}
.fl-slideshow .fl-slideshow-image img{
  max-width:none!important
}
.fl-slideshow-social{
  line-height:0!important
}
.fl-slideshow-social *{
  margin:0!important
}
.fl-builder-content .bx-wrapper .bx-viewport{
  background:transparent;
  border:none;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  left:0
}
.mfp-wrap button.mfp-arrow,.mfp-wrap button.mfp-arrow:active,.mfp-wrap button.mfp-arrow:hover,.mfp-wrap button.mfp-arrow:focus{
  background:transparent!important;
  border:none!important;
  outline:none;
  position:absolute;
  top:50%;
  box-shadow:none!important;
  -moz-box-shadow:none!important;
  -webkit-box-shadow:none!important
}
.mfp-wrap .mfp-close,.mfp-wrap .mfp-close:active,.mfp-wrap .mfp-close:hover,.mfp-wrap .mfp-close:focus{
  background:transparent!important;
  border:none!important;
  outline:none;
  position:absolute;
  top:0;
  box-shadow:none!important;
  -moz-box-shadow:none!important;
  -webkit-box-shadow:none!important
}
.admin-bar .mfp-wrap .mfp-close,.admin-bar .mfp-wrap .mfp-close:active,.admin-bar .mfp-wrap .mfp-close:hover,.admin-bar .mfp-wrap .mfp-close:focus{
  top:32px!important
}
img.mfp-img{
  padding:0
}
.mfp-counter{
  display:none
}
.mfp-wrap .mfp-preloader.fa{
  font-size:30px
}
.fl-form-field{
  margin-bottom:15px
}
.fl-form-field input.fl-form-error{
  border-color:#DD6420
}
.fl-form-error-message{
  clear:both;
  color:#DD6420;
  display:none;
  padding-top:8px;
  font-size:12px;
  font-weight:lighter
}
.fl-form-button-disabled{
  opacity:.5
}
.fl-animation{
  opacity:0
}
.fl-builder-preview .fl-animation,.fl-builder-edit .fl-animation,.fl-animated{
  opacity:1
}
.fl-animated{
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both
}
.fl-button.fl-button-icon-animation i{
  width:0!important;
  opacity:0;
  -ms-filter:"alpha(opacity=0)";
  transition:all 0.2s ease-out;
  -webkit-transition:all 0.2s ease-out
}
.fl-button.fl-button-icon-animation:hover i{
  opacity:1! important;
  -ms-filter:"alpha(opacity=100)"
}
.fl-button.fl-button-icon-animation i.fl-button-icon-after{
  margin-left:0px!important
}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after{
  margin-left:10px!important
}
.fl-button.fl-button-icon-animation i.fl-button-icon-before{
  margin-right:0!important
}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before{
  margin-right:20px!important;
  margin-left:-10px
}
.single:not(.woocommerce).single-fl-builder-template .fl-content{
  width:100%
}
.fl-builder-layer{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:0;
  pointer-events:none;
  overflow:hidden
}
.fl-builder-shape-layer{
  z-index:0
}
.fl-builder-shape-layer.fl-builder-bottom-edge-layer{
  z-index:1
}
.fl-row-bg-overlay .fl-builder-shape-layer{
  z-index:1
}
.fl-row-bg-overlay .fl-builder-shape-layer.fl-builder-bottom-edge-layer{
  z-index:2
}
.fl-row-has-layers .fl-row-content{
  z-index:1
}
.fl-row-bg-overlay .fl-row-content{
  z-index:2
}
.fl-builder-layer>*{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%
}
.fl-builder-layer+.fl-row-content{
  position:relative
}
.fl-builder-layer .fl-shape{
  fill:#aaa;
  stroke:none;
  stroke-width:0;
  width:100%
}
@supports (-webkit-touch-callout:inherit){
  .fl-row.fl-row-bg-parallax .fl-row-content-wrap,.fl-row.fl-row-bg-fixed .fl-row-content-wrap{
      background-position:center!important;
      background-attachment:scroll!important
  }
}
@supports (-webkit-touch-callout:none){
  .fl-row.fl-row-bg-fixed .fl-row-content-wrap{
      background-position:center!important;
      background-attachment:scroll!important
  }
}
.fl-builder-content a.fl-button,.fl-builder-content a.fl-button:visited{
  background:#fafafa;
  border:1px solid #ccc;
  color:#333
}
.fl-builder-content a.fl-button *,.fl-builder-content a.fl-button:visited *{
  color:#333
}
@media (max-width:992px){
  .fl-col-group.fl-col-group-medium-reversed{
      display:-webkit-flex;
      display:flex;
      -webkit-flex-wrap:wrap-reverse;
      flex-wrap:wrap-reverse;
      flex-direction:row-reverse
  }
}
@media (max-width:768px){
  .fl-row-content-wrap{
      background-attachment:scroll!important
  }
  .fl-row-bg-parallax .fl-row-content-wrap{
      background-attachment:scroll!important;
      background-position:center center!important
  }
  .fl-col-group.fl-col-group-equal-height{
      display:block
  }
  .fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width{
      display:-webkit-box;
      display:-webkit-flex;
      display:flex
  }
  .fl-col-group.fl-col-group-responsive-reversed{
      display:-webkit-flex;
      display:flex;
      -webkit-flex-wrap:wrap-reverse;
      flex-wrap:wrap-reverse;
      flex-direction:row-reverse
  }
  .fl-col-group.fl-col-group-responsive-reversed .fl-col:not(.fl-col-small-custom-width){
      flex-basis:100%;
      width:100%!important
  }
  .fl-col-group.fl-col-group-medium-reversed:not(.fl-col-group-responsive-reversed){
      display:unset;
      display:unset;
      -webkit-flex-wrap:unset;
      flex-wrap:unset;
      flex-direction:unset
  }
  .fl-col{
      clear:both;
      float:none;
      margin-left:auto;
      margin-right:auto;
      width:auto!important
  }
  .fl-col-small:not(.fl-col-small-full-width){
      max-width:400px
  }
  .fl-block-col-resize{
      display:none
  }
  .fl-row[data-node] .fl-row-content-wrap{
      margin:0;
      padding-left:0;
      padding-right:0
  }
  .fl-row[data-node] .fl-bg-video,.fl-row[data-node] .fl-bg-slideshow{
      left:0;
      right:0
  }
  .fl-col[data-node] .fl-col-content{
      margin:0;
      padding-left:0;
      padding-right:0
  }
}
@media (min-width:1201px){
  html .fl-visible-large:not(.fl-visible-desktop),html .fl-visible-medium:not(.fl-visible-desktop),html .fl-visible-mobile:not(.fl-visible-desktop){
      display:none
  }
}
@media (min-width:993px) and (max-width:1200px){
  html .fl-visible-desktop:not(.fl-visible-large),html .fl-visible-medium:not(.fl-visible-large),html .fl-visible-mobile:not(.fl-visible-large){
      display:none
  }
}
@media (min-width:769px) and (max-width:992px){
  html .fl-visible-desktop:not(.fl-visible-medium),html .fl-visible-large:not(.fl-visible-medium),html .fl-visible-mobile:not(.fl-visible-medium){
      display:none
  }
}
@media (max-width:768px){
  html .fl-visible-desktop:not(.fl-visible-mobile),html .fl-visible-large:not(.fl-visible-mobile),html .fl-visible-medium:not(.fl-visible-mobile){
      display:none
  }
}
.fl-row-fixed-width{
  max-width:1140px
}
.fl-row-content-wrap{
  margin-top:0;
  margin-right:0;
  margin-bottom:0;
  margin-left:0;
  padding-top:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px
}
.fl-module-content,:where(.fl-module:not(:has(>.fl-module-content))){
  margin-top:20px;
  margin-right:20px;
  margin-bottom:20px;
  margin-left:20px
}
:root{
  --fl-global-primary:var(--bs-primary)
}
.page .fl-post-header,.single-fl-builder-template .fl-post-header{
  display:none
}
.fl-node-xdtgnc830h1l>.fl-row-content-wrap{
  padding-top:0;
  padding-right:0;
  padding-bottom:0;
  padding-left:0
}
.fl-node-7k90gfhorjbu{
  color:#fff
}
.fl-builder-content .fl-node-7k90gfhorjbu *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle){
  color:inherit
}
.fl-builder-content .fl-node-7k90gfhorjbu a{
  color:#fff
}
.fl-builder-content .fl-node-7k90gfhorjbu a:hover{
  color:#fff
}
.fl-builder-content .fl-node-7k90gfhorjbu h1,.fl-builder-content .fl-node-7k90gfhorjbu h2,.fl-builder-content .fl-node-7k90gfhorjbu h3,.fl-builder-content .fl-node-7k90gfhorjbu h4,.fl-builder-content .fl-node-7k90gfhorjbu h5,.fl-builder-content .fl-node-7k90gfhorjbu h6,.fl-builder-content .fl-node-7k90gfhorjbu h1 a,.fl-builder-content .fl-node-7k90gfhorjbu h2 a,.fl-builder-content .fl-node-7k90gfhorjbu h3 a,.fl-builder-content .fl-node-7k90gfhorjbu h4 a,.fl-builder-content .fl-node-7k90gfhorjbu h5 a,.fl-builder-content .fl-node-7k90gfhorjbu h6 a{
  color:#fff
}
.fl-node-7k90gfhorjbu>.fl-row-content-wrap{
  background-color:var(--fl-global-primary)
}
.fl-node-7k90gfhorjbu .fl-builder-bottom-edge-layer{
  bottom:-1px
}
.fl-node-7k90gfhorjbu .fl-builder-bottom-edge-layer>*{
  width:2000px;
  left:calc(50% - 1000px);
  right:auto;
  height:50px;
  top:auto;
  bottom:0;
  transform:scaleX(1) scaleY(-1)
}
.fl-node-7k90gfhorjbu .fl-builder-bottom-edge-layer .fl-shape-content .fl-shape{
  fill:#fff
}
.fl-node-7k90gfhorjbu>.fl-row-content-wrap{
  padding-top:40px;
  padding-bottom:70px
}
.fl-node-wk7r610lmnei>.fl-row-content-wrap{
  padding-top:70px;
  padding-bottom:70px
}
.fl-node-a6219nlwyb08>.fl-row-content-wrap{
  background-color:#f4f4f4
}
.fl-node-a6219nlwyb08 .fl-builder-top-edge-layer{
  top:-1px
}
.fl-node-a6219nlwyb08 .fl-builder-top-edge-layer>*{
  width:2000px;
  left:calc(50% - 1000px);
  right:auto;
  height:50px;
  top:0;
  bottom:auto;
  transform:scaleX(1) scaleY(1)
}
.fl-node-a6219nlwyb08 .fl-builder-top-edge-layer .fl-shape-content .fl-shape{
  fill:#fff
}
.fl-node-a6219nlwyb08 .fl-builder-bottom-edge-layer{
  bottom:-1px
}
.fl-node-a6219nlwyb08 .fl-builder-bottom-edge-layer>*{
  width:2000px;
  left:calc(50% - 1000px);
  right:auto;
  height:50px;
  top:auto;
  bottom:0;
  transform:scaleX(1) scaleY(-1)
}
.fl-node-a6219nlwyb08 .fl-builder-bottom-edge-layer .fl-shape-content .fl-shape{
  fill:#fff
}
.fl-node-a6219nlwyb08>.fl-row-content-wrap{
  padding-top:100px;
  padding-bottom:100px
}
.fl-node-qxuaf7toh234>.fl-row-content-wrap{
  padding-top:70px;
  padding-bottom:50px
}
.fl-node-l5cazrhw9t8u .fl-row-content{
  max-width:900px
}
.fl-node-l5cazrhw9t8u>.fl-row-content-wrap{
  padding-bottom:70px;
  padding-top:70px;
}
.fl-node-1nkivub8tzof>.fl-row-content-wrap{
  background-color:var(--fl-global-primary)
}
.fl-node-1nkivub8tzof .fl-builder-top-edge-layer{
  top:-1px
}
.fl-node-1nkivub8tzof .fl-builder-top-edge-layer>*{
  width:2000px;
  left:calc(50% - 1000px);
  right:auto;
  height:50px;
  top:0;
  bottom:auto;
  transform:scaleX(1) scaleY(1)
}
.fl-node-1nkivub8tzof .fl-builder-top-edge-layer .fl-shape-content .fl-shape{
  fill:#fff
}
.fl-node-1nkivub8tzof .fl-builder-bottom-edge-layer{
  bottom:-1px
}
.fl-node-1nkivub8tzof .fl-builder-bottom-edge-layer>*{
  width:2000px;
  left:calc(50% - 1000px);
  right:auto;
  height:50px;
  top:auto;
  bottom:0;
  transform:scaleX(1) scaleY(-1)
}
.fl-node-1nkivub8tzof .fl-builder-bottom-edge-layer .fl-shape-content .fl-shape{
  fill:#fff
}
.fl-node-1nkivub8tzof>.fl-row-content-wrap{
  padding-top:100px;
  padding-bottom:100px
}
.fl-node-m7nd4otep5qb>.fl-row-content-wrap{
  padding-top:70px;
  padding-bottom:70px
}
.fl-node-mry7x6bnlov2{
  width:100%
}
.fl-node-23emhd7c5trg{
  width:100%
}
.fl-node-lg8cvkt5rsyi{
  width:50%
}
.fl-node-l69vmr8txuze{
  width:100%
}
.fl-node-e2htcx3froi9{
  width:33.333%
}
.fl-node-3zn8yi1rxbpg{
  width:33.33%
}
.fl-node-8ikbwahyc4ds{
  width:41.23%
}
.fl-node-r5o0g8f6d9qh{
  width:50%
}
.fl-node-s8f2apc0ngbr{
  width:50%
}
.fl-node-toxn8lhz5u34{
  width:100%
}
.fl-node-nhz39xp1mwef{
  width:33.33%
}
.fl-node-iys4cuegx6q1{
  width:33.33%
}
.fl-node-nvlagx26e4ij{
  width:100%
}
.fl-node-8xk54ydve6uz{
  width:100%
}
.fl-node-j2o8pl5unirf{
  width:100%
}
.fl-node-gd2catw5vnrp{
  width:50%
}
.fl-node-k6vomh4s9aqx{
  width:33.333%
}
.fl-node-moj2yxn6q5cl{
  width:33.33%
}
.fl-node-bpgma80yoj4h{
  width:58.77%
}
.fl-node-2xoahjs4q59l{
  width:50%
}
.fl-node-aqfcm1ry8z0u{
  width:50%
}
.fl-node-vjiebnqs04gz{
  width:33.33%
}
.fl-node-amcnfq2i3l48{
  width:33.33%
}
.fl-node-30ohl2udmvtc{
  width:33.333%
}
.fl-node-m6fgow5vs4aj{
  width:33.33%
}
.fl-node-w0ihvosr6fy4{
  width:33.33%
}
.fl-node-i2x3cy15osnm{
  width:33.33%
}
body.rtl .fl-module-content-slider .bx-viewport{
  direction:ltr
}
.fl-module-content-slider .bx-wrapper{
  margin:0 auto 40px
}
.fl-content-slider{
  position:relative
}
.fl-content-slider .fl-slide{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  position:absolute;
  top:0;
  visibility:hidden
}
.fl-content-slider-wrapper .fl-slide:first-child,.fl-content-slider-loaded .fl-slide{
  position:relative;
  visibility:visible
}
.bx-wrapper .bx-controls-direction a{
  z-index:99
}
.fl-content-slider .fl-slide-bg-photo{
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
  z-index:1
}
.fl-content-slider .fl-slide-bg-photo-img{
  display:none
}
.fl-content-slider .fl-slide-bg-link{
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
  z-index:1
}
.fl-slide-photo{
  position:relative;
  text-align:center;
  z-index:2
}
.fl-slide-text-left .fl-slide-photo-wrap{
  float:right
}
.fl-slide-text-center .fl-slide-photo-wrap{
  text-align:center
}
.fl-slide-text-center .fl-slide-photo-wrap img{
  margin:0 auto
}
.fl-slide-text-right .fl-slide-photo-wrap{
  float:left
}
.fl-slide-mobile-photo{
  display:none
}
.fl-slide-mobile-photo-img{
  width:100%
}
.fl-slide-content{
  position:relative;
  z-index:2
}
.fl-slide-text-left .fl-slide-content-wrap{
  float:left;
  text-align:left
}
.fl-slide-text-center .fl-slide-content-wrap{
  margin:0 auto;
  text-align:center
}
.fl-slide-text-right .fl-slide-content-wrap{
  float:right;
  text-align:left
}
.fl-slide-title,.fl-slide-text>*{
  line-height:1.4;
  margin:0 0 20px!important;
  padding:0!important
}
.fl-slide-text>*:last-child{
  margin:0!important
}
.fl-slide-cta-button{
  padding-top:24px
}
.fl-content-slider-navigation{
  position:absolute;
  top:50%;
  left:0;
  right:0;
  z-index:1;
  margin-top:-16px
}
.fl-content-slider-navigation a{
  position:absolute;
  display:inline-block;
  opacity:.7
}
.fl-content-slider-navigation a:hover{
  opacity:1
}
.fl-content-slider-navigation .slider-prev{
  left:5px
}
.fl-content-slider-navigation .slider-next{
  right:5px
}
.fl-content-slider-navigation .fl-content-slider-svg-container{
  position:relative;
  width:32px;
  height:32px
}
.fl-content-slider-navigation svg{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0
}
.fl-content-slider-navigation path{
  fill:#fff
}
.fl-content-slider-navigation a.disabled,.bx-controls a.disabled{
  cursor:not-allowed;
  pointer-events:none
}
.bx-wrapper .bx-controls:not(.bx-has-pager){
  height:30px
}
.bx-wrapper .bx-controls:not(.bx-has-pager) .bx-controls-auto{
  bottom:0
}
@media (max-width:768px){
  .fl-content-slider,.fl-content-slider .fl-slide{
      min-height:0!important
  }
  .fl-content-slider .fl-slide-bg-photo{
      background-image:none;
      position:static
  }
  .fl-content-slider .fl-slide-bg-photo a{
      position:static
  }
  .fl-content-slider .fl-slide-bg-photo-img{
      border:none;
      display:block;
      padding:0
  }
  .fl-slide-photo-wrap{
      display:none
  }
  .fl-slide-mobile-photo{
      display:block
  }
  .fl-slide-text-left .fl-slide-content-wrap,.fl-slide-text-right .fl-slide-content-wrap{
      float:none;
      text-align:center
  }
  .fl-module-content-slider .fl-slide .fl-slide-content-wrap,.fl-module-content-slider .fl-slide .fl-slide-content{
      min-height:0;
      width:auto
  }
  .fl-module-content-slider .fl-slide .fl-slide-content{
      margin:0!important;
      padding:30px
  }
  .fl-module-content-slider .fl-slide .fl-slide-title{
      font-size:26px;
      line-height:38px
  }
  .fl-module-content-slider .fl-slide .fl-slide-text,.fl-module-content-slider .fl-slide .fl-slide-text *{
      font-size:14px;
      line-height:22px
  }
  .fl-module-content-slider .fl-slide a.fl-button{
      padding:10px 20px
  }
}
.fl-node-lh7todf5snuk .fl-content-slider-wrapper{
  opacity:0
}
.fl-node-lh7todf5snuk .fl-content-slider,.fl-node-lh7todf5snuk .fl-slide{
  min-height:550px
}
.fl-node-lh7todf5snuk .fl-slide-foreground{
  margin:0 auto;
  max-width:1366px
}
.fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-bg-photo{
  background-image:var(--wpr-bg-cf1ea7b0-3123-481d-9d13-3f6144612cdb)
}
.fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-content{
  margin-right:60px;
  margin-left:60px;
  margin-top:160px;
  margin-bottom:60px
}
@media (max-width:768px){
  .fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-content{
      background-color:#333
  }
}
.fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-bg-photo{
  background-image:var(--wpr-bg-dc678e6d-3d7f-462b-aebf-65b2b9f09117)
}
.fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-content{
  margin-right:60px;
  margin-left:60px;
  margin-top:160px;
  margin-bottom:60px
}
@media (max-width:768px){
  .fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-content{
      background-color:#333
  }
}
.fl-node-lh7todf5snuk .fl-slide .fl-slide-title,.fl-node-lh7todf5snuk .fl-slide .fl-slide-text,.fl-node-lh7todf5snuk .fl-slide .fl-slide-text *{
  color:#fff
}
.fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-bg-photo:after{
  background-color:rgba(0,0,0,.4);
  content:" ";
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0
}
.fl-builder-content .fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-content{
  padding-top:60px;
  padding-right:60px;
  padding-bottom:60px;
  padding-left:60px
}
.fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-title{
  color:#fff;
  font-family:Lora,serif;
  font-weight:400
}
.fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-text,.fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-text *{
  color:#fff
}
.fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-bg-photo:after{
  background-color:rgba(0,0,0,.4);
  content:" ";
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0
}
.fl-builder-content .fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-content{
  padding-top:60px;
  padding-right:60px;
  padding-bottom:60px;
  padding-left:60px
}
.fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-title{
  color:#fff;
  font-family:Lora,serif;
  font-weight:400
}
.fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-text,.fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-text *{
  color:#fff
}
@media(max-width:768px){
  .fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-title{
      color:#fff
  }
  .fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-text,.fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-text *{
      color:#fff
  }
  .fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-title{
      color:#fff
  }
  .fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-text,.fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-text *{
      color:#fff
  }
}
@media(min-width:768px){
  .fl-node-lh7todf5snuk .fl-slide-0 .fl-slide-content-wrap{
      width:70%
  }
  .fl-node-lh7todf5snuk .fl-slide-1 .fl-slide-content-wrap{
      width:70%
  }
}
.fl-node-lh7todf5snuk>.fl-module-content{
  margin-top:0;
  margin-right:0;
  margin-bottom:0;
  margin-left:0
}
.fl-cta-left{
  text-align:left
}
.fl-cta-center{
  text-align:center
}
.fl-cta-right{
  text-align:right
}
.fl-cta-inline{
  display:table;
  width:100%
}
.fl-cta-inline .fl-cta-text,.fl-cta-inline .fl-cta-button{
  display:table-cell;
  vertical-align:middle
}
.fl-cta-inline .fl-cta-text{
  width:70%
}
.fl-cta-inline .fl-cta-button{
  padding-left:30px;
  text-align:center;
  width:30%
}
body h1.fl-cta-title,body h2.fl-cta-title,body h3.fl-cta-title,body h4.fl-cta-title,body h5.fl-cta-title,body h6.fl-cta-title{
  margin:0;
  padding:0 0 10px 0
}
.fl-cta-stacked .fl-cta-button{
  padding-top:20px
}
@media (max-width:768px){
  .fl-cta-inline{
      display:block;
      text-align:center
  }
  .fl-cta-inline .fl-cta-text,.fl-cta-inline .fl-cta-button{
      display:block
  }
  .fl-cta-inline .fl-cta-text{
      width:auto
  }
  .fl-cta-inline .fl-cta-button{
      padding-left:0;
      padding-top:20px;
      width:auto
  }
}
.fl-builder-content .fl-node-5gutqed82bvp a.fl-button,.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:visited,.fl-builder-content .fl-node-5gutqed82bvp a.fl-button *,.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:visited *,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:visited,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button *,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:visited *{
  color: #fff; /*var(--fl-global-primary)*/
}
.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover,.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover span.fl-button-text,.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover *,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover span.fl-button-text,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover *{
  color:#fff
}
.fl-builder-content .fl-node-5gutqed82bvp .fl-button-wrap a.fl-button{
  padding-top:15px;
  padding-bottom:15px
}
.fl-builder-content .fl-node-5gutqed82bvp a.fl-button,.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:visited,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:visited{
  font-weight:500;
  font-size:15px;
  text-transform:uppercase;
  /* border:1px solid #f3f3f3; */
  /* background-color:#fff; */
  background: #25d366;
  background-color: #25d366;
  border-color: 1px solid #25d366;
}
.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover,.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:focus,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:focus{
  border:1px solid #000
}
.fl-builder-content .fl-node-5gutqed82bvp a.fl-button,.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:visited,.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover,.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:focus,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:visited,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:focus{
  border-style:none;
  border-width:0;
  background-clip:border-box;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px
}
.fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover,.fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover,.fl-page .fl-page .fl-builder-content .fl-node-5gutqed82bvp a.fl-button:hover{
  background:#157348; /*#000*/
  border-color: #157348;
}
.fl-node-5gutqed82bvp .fl-module-content{
  padding-top:0;
  padding-right:0;
  padding-bottom:0;
  padding-left:0
}
.fl-builder-content .fl-node-5gutqed82bvp .fl-cta-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:25px
}
.fl-module-heading .fl-heading{
  padding:0!important;
  margin:0!important
}
.fl-node-8tvq4i23u07p.fl-module-heading .fl-heading{
  font-family:Lora,serif;
  font-weight:700;
  font-size:31px
}
.fl-node-8tvq4i23u07p>.fl-module-content{
  margin-bottom:0
}
img.mfp-img{
  padding-bottom:40px!important
}
.fl-builder-edit .fl-fill-container img{
  transition:object-position .5s
}
.fl-fill-container :is(.fl-module-content,.fl-photo,.fl-photo-content,img){
  height:100%!important;
  width:100%!important
}
@media (max-width:768px){
  .fl-photo-content,.fl-photo-img{
      max-width:100%
  }
}
.fl-node-ovfh1ecluwnj .fl-photo{
  text-align:center
}
.fl-node-4wmu9ken27c0.fl-module-heading .fl-heading{
  font-family:Lora,serif;
  font-weight:700;
  font-size:31px;
  text-align:center
}
.fl-node-4wmu9ken27c0>.fl-module-content{
  margin-bottom:10px
}
body a.fl-callout-title-link{
  text-decoration:none
}
body h1.fl-callout-title,body h2.fl-callout-title,body h3.fl-callout-title,body h4.fl-callout-title,body h5.fl-callout-title,body h6.fl-callout-title{
  margin:0;
  padding:0 0 10px 0
}
.fl-callout-text p{
  margin:0!important;
  padding:0 0 10px 0!important
}
.fl-callout-button{
  padding:10px 0 0 0
}
.fl-callout-cta-link{
  display:block
}
.fl-callout-icon-above-title .fl-icon{
  display:block;
  margin-bottom:20px
}
.fl-callout-icon-below-title .fl-icon{
  display:block;
  margin:10px 0 15px
}
.fl-callout-icon-above-title .fl-icon i,.fl-callout-icon-below-title .fl-icon i{
  display:inline-block;
  float:none
}
.fl-callout-icon-left-title .fl-callout-title,.fl-callout-icon-right-title .fl-callout-title{
  display:inline-block
}
.fl-callout-icon-left-title .fl-callout-title span,.fl-callout-icon-right-title .fl-callout-title span{
  display:table-cell;
  vertical-align:middle
}
.fl-callout-icon-left-title .fl-icon{
  padding-right:15px
}
.fl-callout-icon-right-title .fl-icon{
  padding-left:15px
}
.fl-callout-icon-left,.fl-callout-icon-right{
  display:table
}
.fl-callout-icon-left .fl-icon,.fl-callout-icon-left-text .fl-icon{
  display:table-cell;
  vertical-align:top;
  padding-right:15px
}
.fl-callout-icon-right .fl-icon,.fl-callout-icon-right-text .fl-icon{
  display:table-cell;
  vertical-align:top;
  padding-left:15px
}
.fl-callout-icon-left .fl-callout-content,.fl-callout-icon-right .fl-callout-content,.fl-callout-icon-left-text .fl-callout-text-wrap,.fl-callout-icon-right-text .fl-callout-text-wrap{
  display:table-cell
}
.fl-callout-photo-above-title .fl-photo{
  margin-bottom:15px
}
.fl-callout-photo-below-title .fl-photo{
  margin-bottom:15px;
  margin-top:5px
}
.fl-callout-photo-left{
  display:table;
  table-layout:fixed;
  width:100%
}
.fl-callout-photo-left .fl-callout-photo,.fl-callout-photo-left-text .fl-callout-photo{
  display:table-cell;
  padding-right:30px;
  width:50%;
  vertical-align:top
}
.fl-callout-photo-left .fl-callout-content,.fl-callout-photo-left-text .fl-callout-text-wrap{
  display:table-cell;
  width:50%;
  vertical-align:middle
}
.fl-callout-photo-right{
  display:table;
  table-layout:fixed;
  width:100%
}
.fl-callout-photo-right .fl-callout-photo,.fl-callout-photo-right-text .fl-callout-photo{
  display:table-cell;
  padding-left:30px;
  width:50%;
  vertical-align:top
}
.fl-callout-photo-right .fl-callout-content,.fl-callout-photo-right-text .fl-callout-text-wrap{
  display:table-cell;
  width:50%;
  vertical-align:middle
}
.fl-module-callout .fl-module-content{
  overflow:hidden
}
@media (max-width:768px){
  .fl-callout-photo-left,.fl-callout-photo-right{
      display:block
  }
  .fl-callout-photo-left .fl-callout-photo,.fl-callout-photo-left-text .fl-callout-photo{
      display:block;
      margin-bottom:15px;
      padding-left:0;
      padding-right:0;
      width:auto
  }
  .fl-callout-photo-right .fl-callout-photo,.fl-callout-photo-right-text .fl-callout-photo{
      display:block;
      margin-top:25px;
      padding-left:0;
      padding-right:0;
      width:auto
  }
  .fl-callout-photo-left .fl-callout-content,.fl-callout-photo-left-text .fl-callout-content,.fl-callout-photo-right .fl-callout-content,.fl-callout-photo-right-text .fl-callout-content{
      display:block;
      width:auto
  }
}
.fl-node-c7s8jr61iudy .fl-callout{
  text-align:left
}
.fl-node-c7s8jr61iudy .fl-callout-icon-left,.fl-node-c7s8jr61iudy .fl-callout-icon-right{
  float:none
}
@media(max-width:992px){
  .fl-node-c7s8jr61iudy .fl-callout-icon-left,.fl-node-c7s8jr61iudy .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-c7s8jr61iudy .fl-callout-icon-left,.fl-node-c7s8jr61iudy .fl-callout-icon-right{
      float:none
  }
}
.fl-node-c7s8jr61iudy .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-jul02bf6wgat .fl-callout{
  text-align:left
}
.fl-node-jul02bf6wgat .fl-callout-icon-left,.fl-node-jul02bf6wgat .fl-callout-icon-right{
  float:none
}
@media(max-width:992px){
  .fl-node-jul02bf6wgat .fl-callout-icon-left,.fl-node-jul02bf6wgat .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-jul02bf6wgat .fl-callout-icon-left,.fl-node-jul02bf6wgat .fl-callout-icon-right{
      float:none
  }
}
.fl-node-jul02bf6wgat .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-zyeul7swm4h1 .fl-callout{
  text-align:left
}
.fl-node-zyeul7swm4h1 .fl-callout-icon-left,.fl-node-zyeul7swm4h1 .fl-callout-icon-right{
  float:none
}
@media(max-width:992px){
  .fl-node-zyeul7swm4h1 .fl-callout-icon-left,.fl-node-zyeul7swm4h1 .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-zyeul7swm4h1 .fl-callout-icon-left,.fl-node-zyeul7swm4h1 .fl-callout-icon-right{
      float:none
  }
}
.fl-node-zyeul7swm4h1 .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-1rcfqitj5vdu .fl-callout{
  text-align:left
}
.fl-node-1rcfqitj5vdu .fl-callout-icon-left,.fl-node-1rcfqitj5vdu .fl-callout-icon-right{
  float:none
}
@media(max-width:992px){
  .fl-node-1rcfqitj5vdu .fl-callout-icon-left,.fl-node-1rcfqitj5vdu .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-1rcfqitj5vdu .fl-callout-icon-left,.fl-node-1rcfqitj5vdu .fl-callout-icon-right{
      float:none
  }
}
.fl-node-1rcfqitj5vdu .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-7drmqpthc6gz .fl-callout{
  text-align:left
}
.fl-node-7drmqpthc6gz .fl-callout-icon-left,.fl-node-7drmqpthc6gz .fl-callout-icon-right{
  float:none
}
@media(max-width:992px){
  .fl-node-7drmqpthc6gz .fl-callout-icon-left,.fl-node-7drmqpthc6gz .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-7drmqpthc6gz .fl-callout-icon-left,.fl-node-7drmqpthc6gz .fl-callout-icon-right{
      float:none
  }
}
.fl-node-7drmqpthc6gz .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-aniltu1ywk8m .fl-callout{
  text-align:left
}
.fl-node-aniltu1ywk8m .fl-callout-icon-left,.fl-node-aniltu1ywk8m .fl-callout-icon-right{
  float:none
}
@media(max-width:992px){
  .fl-node-aniltu1ywk8m .fl-callout-icon-left,.fl-node-aniltu1ywk8m .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-aniltu1ywk8m .fl-callout-icon-left,.fl-node-aniltu1ywk8m .fl-callout-icon-right{
      float:none
  }
}
.fl-node-aniltu1ywk8m .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-ae6ch9bmfxt3.fl-module-heading .fl-heading{
  font-family:Lora,serif;
  font-weight:700;
  font-size:31px;
  text-align:center
}
.fl-node-53dq7mkyj16x .fl-photo{
  text-align:center
}
.fl-node-ibkwy6znu924 .fl-callout{
  text-align:left
}
.fl-node-ibkwy6znu924 .fl-callout-icon-left,.fl-node-ibkwy6znu924 .fl-callout-icon-right{
  float:none
}
.fl-node-ibkwy6znu924 .fl-icon i,.fl-node-ibkwy6znu924 .fl-icon i:before{
  font-size:30px
}
.fl-node-ibkwy6znu924 .fl-icon-wrap .fl-icon-text{
  height:52.5px
}
@media(max-width:1200px){
  .fl-node-ibkwy6znu924 .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
@media(max-width:992px){
  .fl-node-ibkwy6znu924 .fl-callout-icon-left,.fl-node-ibkwy6znu924 .fl-callout-icon-right{
      float:none
  }
  .fl-node-ibkwy6znu924 .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
@media(max-width:768px){
  .fl-node-ibkwy6znu924 .fl-callout-icon-left,.fl-node-ibkwy6znu924 .fl-callout-icon-right{
      float:none
  }
  .fl-node-ibkwy6znu924 .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
.fl-node-ibkwy6znu924 .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-qzirv3jeubw8 .fl-callout{
  text-align:left
}
.fl-node-qzirv3jeubw8 .fl-callout-icon-left,.fl-node-qzirv3jeubw8 .fl-callout-icon-right{
  float:none
}
.fl-node-qzirv3jeubw8 .fl-icon i,.fl-node-qzirv3jeubw8 .fl-icon i:before{
  font-size:30px
}
.fl-node-qzirv3jeubw8 .fl-icon-wrap .fl-icon-text{
  height:52.5px
}
@media(max-width:1200px){
  .fl-node-qzirv3jeubw8 .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
@media(max-width:992px){
  .fl-node-qzirv3jeubw8 .fl-callout-icon-left,.fl-node-qzirv3jeubw8 .fl-callout-icon-right{
      float:none
  }
  .fl-node-qzirv3jeubw8 .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
@media(max-width:768px){
  .fl-node-qzirv3jeubw8 .fl-callout-icon-left,.fl-node-qzirv3jeubw8 .fl-callout-icon-right{
      float:none
  }
  .fl-node-qzirv3jeubw8 .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
.fl-node-qzirv3jeubw8 .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-51ri8vl30t7z .fl-callout{
  text-align:left
}
.fl-node-51ri8vl30t7z .fl-callout-icon-left,.fl-node-51ri8vl30t7z .fl-callout-icon-right{
  float:none
}
.fl-node-51ri8vl30t7z .fl-icon i,.fl-node-51ri8vl30t7z .fl-icon i:before{
  font-size:30px
}
.fl-node-51ri8vl30t7z .fl-icon-wrap .fl-icon-text{
  height:52.5px
}
@media(max-width:1200px){
  .fl-node-51ri8vl30t7z .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
@media(max-width:992px){
  .fl-node-51ri8vl30t7z .fl-callout-icon-left,.fl-node-51ri8vl30t7z .fl-callout-icon-right{
      float:none
  }
  .fl-node-51ri8vl30t7z .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
@media(max-width:768px){
  .fl-node-51ri8vl30t7z .fl-callout-icon-left,.fl-node-51ri8vl30t7z .fl-callout-icon-right{
      float:none
  }
  .fl-node-51ri8vl30t7z .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
.fl-node-51ri8vl30t7z .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-vj6gz0qlp71c .fl-callout{
  text-align:left
}
.fl-node-vj6gz0qlp71c .fl-callout-icon-left,.fl-node-vj6gz0qlp71c .fl-callout-icon-right{
  float:none
}
.fl-node-vj6gz0qlp71c .fl-icon i,.fl-node-vj6gz0qlp71c .fl-icon i:before{
  font-size:30px
}
.fl-node-vj6gz0qlp71c .fl-icon-wrap .fl-icon-text{
  height:52.5px
}
@media(max-width:1200px){
  .fl-node-vj6gz0qlp71c .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
@media(max-width:992px){
  .fl-node-vj6gz0qlp71c .fl-callout-icon-left,.fl-node-vj6gz0qlp71c .fl-callout-icon-right{
      float:none
  }
  .fl-node-vj6gz0qlp71c .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
@media(max-width:768px){
  .fl-node-vj6gz0qlp71c .fl-callout-icon-left,.fl-node-vj6gz0qlp71c .fl-callout-icon-right{
      float:none
  }
  .fl-node-vj6gz0qlp71c .fl-icon-wrap .fl-icon-text{
      height:52.5px
  }
}
.fl-node-vj6gz0qlp71c .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-umw6dbcej98f.fl-module-heading .fl-heading{
  font-family:Lora,serif;
  font-weight:700;
  font-size:31px
}
.fl-node-otgk6s0jh8vu .fl-callout{
  text-align:center
}
.fl-node-otgk6s0jh8vu .fl-callout-icon-left,.fl-node-otgk6s0jh8vu .fl-callout-icon-right{
  float:none
}
.fl-node-otgk6s0jh8vu .fl-photo-content,.fl-node-otgk6s0jh8vu .fl-photo-img{
  width:190px
}
.fl-node-otgk6s0jh8vu .fl-photo-img{
  /* border-style:solid; */
  /* border-width:0; */
  background-clip:border-box;
  /* border-color:#111; */
  /* border-top-width:5px; */
  /* border-right-width:5px; */
  /* border-bottom-width:5px; */
  /* border-left-width:5px */
}
@media(max-width:992px){
  .fl-node-otgk6s0jh8vu .fl-callout-icon-left,.fl-node-otgk6s0jh8vu .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-otgk6s0jh8vu .fl-callout-icon-left,.fl-node-otgk6s0jh8vu .fl-callout-icon-right{
      float:none
  }
}
.fl-node-otgk6s0jh8vu .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-y2uken3m046d .fl-callout{
  text-align:center
}
.fl-node-y2uken3m046d .fl-callout-icon-left,.fl-node-y2uken3m046d .fl-callout-icon-right{
  float:none
}
.fl-node-y2uken3m046d .fl-photo-content,.fl-node-y2uken3m046d .fl-photo-img{
  width:190px
}
.fl-node-y2uken3m046d .fl-photo-img{
  border-style:solid;
  border-width:0;
  background-clip:border-box;
  border-color:#111;
  border-top-width:5px;
  border-right-width:5px;
  border-bottom-width:5px;
  border-left-width:5px
}
@media(max-width:992px){
  .fl-node-y2uken3m046d .fl-callout-icon-left,.fl-node-y2uken3m046d .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-y2uken3m046d .fl-callout-icon-left,.fl-node-y2uken3m046d .fl-callout-icon-right{
      float:none
  }
}
.fl-node-y2uken3m046d .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-rczb57aiog2u .fl-callout{
  text-align:center
}
.fl-node-rczb57aiog2u .fl-callout-icon-left,.fl-node-rczb57aiog2u .fl-callout-icon-right{
  float:none
}
.fl-node-rczb57aiog2u .fl-photo-content,.fl-node-rczb57aiog2u .fl-photo-img{
  width:190px
}
.fl-node-rczb57aiog2u .fl-photo-img{
  border-style:solid;
  border-width:0;
  background-clip:border-box;
  border-color:#111;
  border-top-width:5px;
  border-right-width:5px;
  border-bottom-width:5px;
  border-left-width:5px
}
@media(max-width:992px){
  .fl-node-rczb57aiog2u .fl-callout-icon-left,.fl-node-rczb57aiog2u .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-rczb57aiog2u .fl-callout-icon-left,.fl-node-rczb57aiog2u .fl-callout-icon-right{
      float:none
  }
}
.fl-node-rczb57aiog2u .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-ne7sctzdamro .fl-callout{
  text-align:center
}
.fl-node-ne7sctzdamro .fl-callout-icon-left,.fl-node-ne7sctzdamro .fl-callout-icon-right{
  float:none
}
.fl-node-ne7sctzdamro .fl-photo-content,.fl-node-ne7sctzdamro .fl-photo-img{
  width:190px
}
.fl-node-ne7sctzdamro .fl-photo-img{
  border-style:solid;
  border-width:0;
  background-clip:border-box;
  border-color:#111;
  border-top-width:5px;
  border-right-width:5px;
  border-bottom-width:5px;
  border-left-width:5px
}
@media(max-width:992px){
  .fl-node-ne7sctzdamro .fl-callout-icon-left,.fl-node-ne7sctzdamro .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-ne7sctzdamro .fl-callout-icon-left,.fl-node-ne7sctzdamro .fl-callout-icon-right{
      float:none
  }
}
.fl-node-ne7sctzdamro .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-oe6t8fd54kn0 .fl-callout{
  text-align:center
}
.fl-node-oe6t8fd54kn0 .fl-callout-icon-left,.fl-node-oe6t8fd54kn0 .fl-callout-icon-right{
  float:none
}
.fl-node-oe6t8fd54kn0 .fl-photo-content,.fl-node-oe6t8fd54kn0 .fl-photo-img{
  width:190px
}
.fl-node-oe6t8fd54kn0 .fl-photo-img{
  border-style:solid;
  border-width:0;
  background-clip:border-box;
  border-color:#111;
  border-top-width:5px;
  border-right-width:5px;
  border-bottom-width:5px;
  border-left-width:5px
}
@media(max-width:992px){
  .fl-node-oe6t8fd54kn0 .fl-callout-icon-left,.fl-node-oe6t8fd54kn0 .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-oe6t8fd54kn0 .fl-callout-icon-left,.fl-node-oe6t8fd54kn0 .fl-callout-icon-right{
      float:none
  }
}
.fl-node-oe6t8fd54kn0 .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-node-e7r640jkgzux .fl-callout{
  text-align:center
}
.fl-node-e7r640jkgzux .fl-callout-icon-left,.fl-node-e7r640jkgzux .fl-callout-icon-right{
  float:none
}
.fl-node-e7r640jkgzux .fl-photo-content,.fl-node-e7r640jkgzux .fl-photo-img{
  width:190px
}
.fl-node-e7r640jkgzux .fl-photo-img{
  border-style:solid;
  border-width:0;
  background-clip:border-box;
  border-color:#111;
  border-top-width:5px;
  border-right-width:5px;
  border-bottom-width:5px;
  border-left-width:5px
}
@media(max-width:992px){
  .fl-node-e7r640jkgzux .fl-callout-icon-left,.fl-node-e7r640jkgzux .fl-callout-icon-right{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-e7r640jkgzux .fl-callout-icon-left,.fl-node-e7r640jkgzux .fl-callout-icon-right{
      float:none
  }
}
.fl-node-e7r640jkgzux .fl-callout-title{
  font-family:Lora,serif;
  font-weight:700;
  font-size:18px
}
.fl-mosaicflow-content{
  display:visible!important
}
.fl-mosaicflow-col{
  float:left
}
.fl-gallery{
  position:relative
}
.fl-gallery-item{
  display:none;
  min-height:150px;
  width:150px
}
.fl-module-vel-gallery .fl-photo-content img,.fl-module-vel-gallery .fl-photo-content{
  width:100%!important
}
.fl-node-jyqkagenxlow .fl-mosaicflow{
  margin-left:-20px
}
.fl-mosaicflow-item{
  margin:0 0 20px 20px
}
.fl-node-1872sjtoxy5v.fl-module-heading .fl-heading{
  font-family:Lora,serif;
  font-weight:700;
  font-size:31px;
  text-align:center
}
.fl-node-1872sjtoxy5v>.fl-module-content{
  margin-bottom:0
}
.fl-builder-content .fl-rich-text strong{
  font-weight:700
}
.fl-row .fl-col .fl-node-jzkq5tabxu0w h2.fl-heading a,.fl-row .fl-col .fl-node-jzkq5tabxu0w h2.fl-heading .fl-heading-text,.fl-row .fl-col .fl-node-jzkq5tabxu0w h2.fl-heading .fl-heading-text *,.fl-node-jzkq5tabxu0w h2.fl-heading .fl-heading-text{
  color:#fff
}
.fl-node-jzkq5tabxu0w.fl-module-heading .fl-heading{
  font-family:Lora,serif;
  font-weight:700;
  font-size:31px;
  text-align:center
}
.fl-node-jzkq5tabxu0w>.fl-module-content{
  margin-bottom:10px
}
.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button,.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:visited,.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button *,.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:visited *,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:visited,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button *,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:visited *{
  color:var(--fl-global-primary)
}
.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover,.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover span.fl-button-text,.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover *,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover span.fl-button-text,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover *{
  color:#fff
}
.fl-node-10v9bmh7oijq .fl-button-wrap{
  text-align:center
}
.fl-builder-content .fl-node-10v9bmh7oijq .fl-button-wrap a.fl-button{
  padding-top:15px;
  padding-right:35px;
  padding-bottom:15px;
  padding-left:35px
}
.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button,.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:visited,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:visited{
  font-weight:500;
  font-size:15px;
  text-transform:uppercase;
  border:1px solid #f3f3f3;
  background-color:#fff
}
.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover,.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:focus,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:focus{
  border:1px solid #000
}
.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button,.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:visited,.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover,.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:focus,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:visited,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:focus{
  border-style:none;
  border-width:0;
  background-clip:border-box;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px
}
.fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover,.fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover,.fl-page .fl-page .fl-builder-content .fl-node-10v9bmh7oijq a.fl-button:hover{
  background-color:#000
}
@charset 'UTF-8';
.foto-testimoni{
  height:50px;
  width:50px;
  background-size:cover;
  background-position:center center;
  border-radius:50%
}
.slick-loading .slick-list{
  background:#fff var(--wpr-bg-09cff4ec-c4b5-49da-a1a7-1b18dac96ecd) center center no-repeat
}
@font-face{
  font-display:swap;
  font-family:'slick';
  font-weight:400;
  font-style:normal;
}
.slick-prev,.slick-next{
  font-size:0;
  line-height:0;
  position:absolute;
  top:50%;
  display:block;
  width:20px;
  height:20px;
  padding:0;
  -webkit-transform:translate(0,-50%);
  -ms-transform:translate(0,-50%);
  transform:translate(0,-50%);
  cursor:pointer;
  color:transparent;
  border:none;
  outline:none;
  background:transparent
}
.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{
  color:transparent;
  outline:none;
  background:transparent
}
.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{
  opacity:1
}
.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{
  opacity:.25
}
.slick-prev:before,.slick-next:before{
  font-family:'slick';
  font-size:20px;
  line-height:1;
  opacity:.75;
  color:#fff;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.slick-prev{
  left:-25px
}
[dir='rtl'] .slick-prev{
  right:-25px;
  left:auto
}
.slick-prev:before{
  content:'←'
}
[dir='rtl'] .slick-prev:before{
  content:'→'
}
.slick-next{
  right:-25px
}
[dir='rtl'] .slick-next{
  right:auto;
  left:-25px
}
.slick-next:before{
  content:'→'
}
[dir='rtl'] .slick-next:before{
  content:'←'
}
.slick-dotted.slick-slider{
  margin-bottom:30px
}
.slick-dots{
  position:absolute;
  bottom:-33px;
  display:block;
  width:100%;
  padding:0;
  margin:0;
  list-style:none;
  text-align:center
}
.slick-dots li{
  position:relative;
  display:inline-block;
  margin:0 3px;
  padding:0;
  cursor:pointer
}
.slick-dots li button{
  font-size:0;
  line-height:0;
  display:block;
  width:15px;
  height:15px;
  padding:0;
  cursor:pointer;
  color:transparent;
  border:2px solid #fff;
  outline:none;
  background:#000;
  border-radius:50%
}
.slick-dots li.slick-active button{
  background:#000;
  opacity:.5
}
.slick-dots li button:hover,.slick-dots li button:focus{
  outline:none
}
.slick-dots li button:hover:before,.slick-dots li button:focus:before{
  opacity:1
}
.slick-dots li button:before{
  font-family:'slick';
  font-size:6px;
  line-height:20px;
  position:absolute;
  top:0;
  left:0;
  width:20px;
  height:20px;
  content:'';
  text-align:center;
  opacity:.25;
  color:#000;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.slick-dots li.slick-active button:before{
  opacity:.75;
  color:#000
}
.slick-slider{
  position:relative;
  display:block;
  box-sizing:border-box;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-touch-callout:none;
  -khtml-user-select:none;
  -ms-touch-action:pan-y;
  touch-action:pan-y;
  -webkit-tap-highlight-color:transparent
}
.slick-list{
  position:relative;
  display:block;
  overflow:hidden;
  margin:0;
  padding:0
}
.slick-list:focus{
  outline:none
}
.slick-list.dragging{
  cursor:pointer;
  cursor:hand
}
.slick-slider .slick-track,.slick-slider .slick-list{
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
  -o-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0)
}
.slick-track{
  position:relative;
  top:0;
  left:0;
  display:block;
  margin-left:auto;
  margin-right:auto
}
.slick-track:before,.slick-track:after{
  display:table;
  content:''
}
.slick-track:after{
  clear:both
}
.slick-loading .slick-track{
  visibility:hidden
}
.slick-slide{
  display:none;
  float:left;
  height:100%;
  min-height:1px
}
[dir='rtl'] .slick-slide{
  float:right
}
.slick-slide img{
  display:block
}
.slick-slide.slick-loading img{
  display:none
}
.slick-slide.dragging img{
  pointer-events:none
}
.slick-initialized .slick-slide{
  display:block
}
.slick-loading .slick-slide{
  visibility:hidden
}
.slick-vertical .slick-slide{
  display:block;
  height:auto;
  border:1px solid transparent
}
.slick-arrow.slick-hidden{
  display:none
}
