.fl-node-1ictj3kuxp92>.fl-row-content-wrap{
  background-color:#fff;
  border-top-width:1px;
  border-right-width:0;
  border-bottom-width:1px;
  border-left-width:0
}
.fl-node-1ictj3kuxp92>.fl-row-content-wrap{
  padding-top:0;
  padding-bottom:0
}
.fl-node-91qmz37oplnr{
  width:30%
}
.fl-node-91qmz37oplnr>.fl-col-content{
  border-top-width:1px;
  border-right-width:1px;
  border-bottom-width:1px;
  border-left-width:1px
}
@media(max-width:768px){
  .fl-builder-content .fl-node-91qmz37oplnr{
      width:80%!important;
      max-width:none;
      clear:none;
      float:left
  }
}
.fl-node-go7cbwah51dx{
  width:69%
}
.fl-node-go7cbwah51dx>.fl-col-content{
  border-top-width:1px;
  border-right-width:1px;
  border-bottom-width:1px;
  border-left-width:1px
}
@media(max-width:768px){
  .fl-builder-content .fl-node-go7cbwah51dx{
      width:20%!important;
      max-width:none;
      clear:none;
      float:left
  }
}
.fl-menu ul,.fl-menu li{
  list-style:none;
  margin:0;
  padding:0
}
.fl-menu .menu:before,.fl-menu .menu:after{
  content:'';
  display:table;
  clear:both
}
.fl-menu-horizontal{
  display:inline-flex;
  /* flex-wrap:wrap; */
  align-items:center
}
.fl-menu li{
  position:relative
}
.fl-menu a{
  display:block;
  padding:10px;
  text-decoration:none
}
.fl-menu a:hover{
  text-decoration:none
}
.fl-menu .sub-menu{
  min-width:220px
}
.fl-module[data-node] .fl-menu .fl-menu-expanded .sub-menu{
  background-color:transparent;
  -webkit-box-shadow:none;
  -ms-box-shadow:none;
  box-shadow:none
}
.fl-menu .fl-has-submenu:focus,.fl-menu .fl-has-submenu .sub-menu:focus,.fl-menu .fl-has-submenu-container:focus{
  outline:0
}
.fl-menu .fl-has-submenu-container{
  position:relative
}
.fl-menu .fl-menu-accordion .fl-has-submenu>.sub-menu{
  display:none
}
.fl-menu .fl-menu-accordion .fl-has-submenu.fl-active .hide-heading>.sub-menu{
  box-shadow:none;
  display:block!important
}
.fl-menu .fl-menu-toggle{
  position:absolute;
  top:50%;
  right:0;
  cursor:pointer
}
.fl-menu .fl-toggle-arrows .fl-menu-toggle:before,.fl-menu .fl-toggle-none .fl-menu-toggle:before{
  border-color:#333
}
.fl-menu .fl-menu-expanded .fl-menu-toggle{
  display:none
}
.fl-menu .fl-menu-mobile-toggle{
  position:relative;
  padding:8px;
  background-color:transparent;
  border:none;
  color:#333;
  border-radius:0
}
.fl-menu .fl-menu-mobile-toggle:focus-visible{
  outline:2px auto Highlight;
  outline:2px auto -webkit-focus-ring-color
}
.fl-menu .fl-menu-mobile-toggle.text{
  width:100%;
  text-align:center
}
.fl-menu .fl-menu-mobile-toggle.hamburger .fl-menu-mobile-toggle-label,.fl-menu .fl-menu-mobile-toggle.hamburger-label .fl-menu-mobile-toggle-label{
  display:inline-block;
  margin-left:10px;
  vertical-align:middle
}
.fl-menu .fl-menu-mobile-toggle.hamburger .svg-container,.fl-menu .fl-menu-mobile-toggle.hamburger-label .svg-container{
  display:inline-block;
  position:relative;
  width:1.4em;
  height:1.4em;
  vertical-align:middle
}
.fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu,.fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0
}
.fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu rect,.fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu rect{
  fill:currentColor
}
li.mega-menu .hide-heading>a,li.mega-menu .hide-heading>.fl-has-submenu-container,li.mega-menu-disabled .hide-heading>a,li.mega-menu-disabled .hide-heading>.fl-has-submenu-container{
  display:none
}
ul.fl-menu-horizontal li.mega-menu{
  position:static
}
ul.fl-menu-horizontal li.mega-menu>ul.sub-menu{
  top:inherit!important;
  left:0!important;
  right:0!important;
  width:100%
}
ul.fl-menu-horizontal li.mega-menu.fl-has-submenu:hover>ul.sub-menu,ul.fl-menu-horizontal li.mega-menu.fl-has-submenu.focus>ul.sub-menu{
  display:flex!important
}
ul.fl-menu-horizontal li.mega-menu>ul.sub-menu li{
  border-color:transparent
}
ul.fl-menu-horizontal li.mega-menu>ul.sub-menu>li{
  width:100%
}
ul.fl-menu-horizontal li.mega-menu>ul.sub-menu>li>.fl-has-submenu-container a{
  font-weight:700
}
ul.fl-menu-horizontal li.mega-menu>ul.sub-menu>li>.fl-has-submenu-container a:hover{
  background:transparent
}
ul.fl-menu-horizontal li.mega-menu>ul.sub-menu .fl-menu-toggle{
  display:none
}
ul.fl-menu-horizontal li.mega-menu>ul.sub-menu ul.sub-menu{
  background:transparent;
  -webkit-box-shadow:none;
  -ms-box-shadow:none;
  box-shadow:none;
  display:block;
  min-width:0;
  opacity:1;
  padding:0;
  position:static;
  visibility:visible
}
.fl-menu-mobile-clone{
  clear:both
}
.fl-menu-mobile-clone .fl-menu .menu{
  float:none!important
}
.fl-menu-mobile-close{
  display:none
}
.fl-menu-mobile-close,.fl-menu-mobile-close:hover,.fl-menu-mobile-close:focus{
  background:none;
  border:0 none;
  color:inherit;
  font-size:18px;
  padding:10px 6px
}
.fl-menu-mobile-close:focus-visible{
  outline:2px auto Highlight;
  outline:2px auto -webkit-focus-ring-color
}
.fl-builder-content .fl-node-q7ikedv5m9bn .menu>li>a,.fl-builder-content .fl-node-q7ikedv5m9bn .menu>li>.fl-has-submenu-container>a,.fl-builder-content .fl-node-q7ikedv5m9bn .sub-menu>li>a,.fl-builder-content .fl-node-q7ikedv5m9bn .sub-menu>li>.fl-has-submenu-container>a{
  color:#111
}
.fl-node-q7ikedv5m9bn .fl-menu .fl-toggle-arrows .fl-menu-toggle:before,.fl-node-q7ikedv5m9bn .fl-menu .fl-toggle-none .fl-menu-toggle:before{
  border-color:#111
}
.fl-node-q7ikedv5m9bn .menu>li>a:hover,.fl-node-q7ikedv5m9bn .menu>li>a:focus,.fl-node-q7ikedv5m9bn .menu>li>.fl-has-submenu-container:hover>a,.fl-node-q7ikedv5m9bn .menu>li>.fl-has-submenu-container.focus>a,.fl-node-q7ikedv5m9bn .menu>li.current-menu-item>a,.fl-node-q7ikedv5m9bn .menu>li.current-menu-item>.fl-has-submenu-container>a,.fl-node-q7ikedv5m9bn .sub-menu>li>a:hover,.fl-node-q7ikedv5m9bn .sub-menu>li>a:focus,.fl-node-q7ikedv5m9bn .sub-menu>li>.fl-has-submenu-container:hover>a,.fl-node-q7ikedv5m9bn .sub-menu>li>.fl-has-submenu-container.focus>a,.fl-node-q7ikedv5m9bn .sub-menu>li.current-menu-item>a,.fl-node-q7ikedv5m9bn .sub-menu>li.current-menu-item>.fl-has-submenu-container>a{
  color:var(--fl-global-primary)
}
.fl-node-q7ikedv5m9bn .fl-menu .fl-toggle-arrows .fl-has-submenu-container:hover>.fl-menu-toggle:before,.fl-node-q7ikedv5m9bn .fl-menu .fl-toggle-arrows .fl-has-submenu-container.focus>.fl-menu-toggle:before,.fl-node-q7ikedv5m9bn .fl-menu .fl-toggle-arrows li.current-menu-item>.fl-has-submenu-container>.fl-menu-toggle:before,.fl-node-q7ikedv5m9bn .fl-menu .fl-toggle-none .fl-has-submenu-container:hover>.fl-menu-toggle:before,.fl-node-q7ikedv5m9bn .fl-menu .fl-toggle-none .fl-has-submenu-container.focus>.fl-menu-toggle:before,.fl-node-q7ikedv5m9bn .fl-menu .fl-toggle-none li.current-menu-item>.fl-has-submenu-container>.fl-menu-toggle:before{
  border-color:var(--fl-global-primary)
}
.fl-node-q7ikedv5m9bn .menu .fl-has-submenu .sub-menu{
  display:none
}
.fl-node-q7ikedv5m9bn .fl-menu .sub-menu{
  background-color:#fff;
  -webkit-box-shadow:0 1px 20px rgba(0,0,0,.1);
  -ms-box-shadow:0 1px 20px rgba(0,0,0,.1);
  box-shadow:0 1px 20px rgba(0,0,0,.1)
}
.fl-node-q7ikedv5m9bn .fl-menu .fl-menu-toggle:before{
  content:'';
  position:absolute;
  right:50%;
  top:50%;
  z-index:1;
  display:block;
  width:9px;
  height:9px;
  margin:-5px -5px 0 0;
  border-right:2px solid;
  border-bottom:2px solid;
  -webkit-transform-origin:right bottom;
  -ms-transform-origin:right bottom;
  transform-origin:right bottom;
  -webkit-transform:translateX(-5px) rotate(45deg);
  -ms-transform:translateX(-5px) rotate(45deg);
  transform:translateX(-5px) rotate(45deg)
}
.fl-node-q7ikedv5m9bn .fl-menu .fl-has-submenu.fl-active>.fl-has-submenu-container .fl-menu-toggle{
  -webkit-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg)
}
.fl-node-q7ikedv5m9bn .fl-menu-horizontal.fl-toggle-arrows .fl-has-submenu-container a{
  padding-right:28px
}
.fl-node-q7ikedv5m9bn .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,.fl-node-q7ikedv5m9bn .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle{
  width:28px;
  height:28px;
  margin:-14px 0 0
}
.fl-node-q7ikedv5m9bn .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,.fl-node-q7ikedv5m9bn .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle,.fl-node-q7ikedv5m9bn .fl-menu-vertical.fl-toggle-arrows .fl-menu-toggle,.fl-node-q7ikedv5m9bn .fl-menu-vertical.fl-toggle-none .fl-menu-toggle{
  width:28px;
  height:28px;
  margin:-14px 0 0
}
.fl-node-q7ikedv5m9bn .fl-menu li{
  border-top:1px solid transparent
}
.fl-node-q7ikedv5m9bn .fl-menu li:first-child{
  border-top:none
}
@media (max-width:768px){
  .fl-node-q7ikedv5m9bn .fl-menu-mobile-flyout{
      background-color:#fff;
      left:-267px;
      height:0;
      overflow-y:auto;
      padding:0 5px;
      position:fixed;
      top:0;
      transition-property:left,right;
      transition-duration:.2s;
      -moz-box-shadow:0 0 4px #4e3c3c;
      -webkit-box-shadow:0 0 4px #4e3c3c;
      box-shadow:0 0 4px #4e3c3c;
      z-index:999999;
      width:250px
  }
  .fl-node-q7ikedv5m9bn .fl-menu-mobile-flyout ul{
      margin:0 auto
  }
  .fl-node-q7ikedv5m9bn .fl-menu .fl-menu-mobile-flyout .menu{
      display:block!important;
      float:none
  }
  .admin-bar .fl-node-q7ikedv5m9bn .fl-menu-mobile-flyout{
      top:32px
  }
  .fl-menu-mobile-close{
      display:block
  }
  .fl-flyout-right .fl-menu-mobile-close{
      float:left
  }
  .fl-flyout-left .fl-menu-mobile-close{
      float:right
  }
  .fl-node-q7ikedv5m9bn .fl-menu .menu{
      background-color:#fff
  }
  .fl-node-q7ikedv5m9bn .fl-menu ul.menu{
      display:none;
      float:none
  }
  .fl-node-q7ikedv5m9bn .fl-menu .sub-menu{
      -webkit-box-shadow:none;
      -ms-box-shadow:none;
      box-shadow:none
  }
  .fl-node-q7ikedv5m9bn .mega-menu.fl-active .hide-heading>.sub-menu,.fl-node-q7ikedv5m9bn .mega-menu-disabled.fl-active .hide-heading>.sub-menu{
      display:block!important
  }
  .fl-node-q7ikedv5m9bn .fl-menu-logo,.fl-node-q7ikedv5m9bn .fl-menu-search-item{
      display:none
  }
}
@media (max-width:782px){
  .admin-bar .fl-node-q7ikedv5m9bn .fl-menu-mobile-flyout{
      top:46px
  }
}
@media (min-width:769px){
  .fl-node-q7ikedv5m9bn .fl-menu .menu>li{
      display:inline-block
  }
  .fl-node-q7ikedv5m9bn .menu li{
      border-left:1px solid transparent;
      border-top:none
  }
  .fl-node-q7ikedv5m9bn .menu li:first-child{
      border:none
  }
  .fl-node-q7ikedv5m9bn .menu li li{
      border-top:1px solid transparent;
      border-left:none
  }
  .fl-node-q7ikedv5m9bn .menu .fl-has-submenu .sub-menu{
      position:absolute;
      top:100%;
      left:0;
      z-index:10;
      visibility:hidden;
      opacity:0;
      text-align:left
  }
  .fl-node-q7ikedv5m9bn .fl-has-submenu .fl-has-submenu .sub-menu{
      top:0;
      left:100%
  }
  .fl-node-q7ikedv5m9bn .fl-menu .fl-has-submenu:hover>.sub-menu,.fl-node-q7ikedv5m9bn .fl-menu .fl-has-submenu.focus>.sub-menu{
      display:block;
      visibility:visible;
      opacity:1
  }
  .fl-node-q7ikedv5m9bn .menu .fl-has-submenu.fl-menu-submenu-right .sub-menu{
      left:inherit;
      right:0
  }
  .fl-node-q7ikedv5m9bn .menu .fl-has-submenu .fl-has-submenu.fl-menu-submenu-right .sub-menu{
      top:0;
      left:inherit;
      right:100%
  }
  .fl-node-q7ikedv5m9bn .fl-menu .fl-has-submenu.fl-active>.fl-has-submenu-container .fl-menu-toggle{
      -webkit-transform:none;
      -ms-transform:none;
      transform:none
  }
  .fl-node-q7ikedv5m9bn .fl-menu .fl-has-submenu .fl-has-submenu .fl-menu-toggle:before{
      -webkit-transform:translateY(-5px) rotate(-45deg);
      -ms-transform:translateY(-5px) rotate(-45deg);
      transform:translateY(-5px) rotate(-45deg)
  }
  .fl-node-q7ikedv5m9bn ul.sub-menu{
      padding-top:0;
      padding-right:0;
      padding-bottom:0;
      padding-left:0
  }
  .fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle{
      display:none
  }
}
.fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle{
  color:#111;
  font-size:16px;
  text-transform:uppercase;
  padding-top:14px;
  padding-right:14px;
  padding-bottom:14px;
  padding-left:14px;
  border-color:rgba(0,0,0,.1)
}
.fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle rect{
  fill:#111
}
.fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle:hover,.fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle.fl-active{
  color:var(--fl-global-primary)
}
.fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle:hover rect,.fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle.fl-active rect{
  fill:var(--fl-global-primary)
}
.fl-node-q7ikedv5m9bn ul.fl-menu-horizontal li.mega-menu>ul.sub-menu>li>.fl-has-submenu-container a:hover{
  color:#111
}
.fl-node-q7ikedv5m9bn .fl-menu .menu,.fl-node-q7ikedv5m9bn .fl-menu .menu>li{
  font-family:Roboto,sans-serif;
  font-weight:500;
  font-size:15px;
  line-height:1;
  text-align:left;
  text-transform:uppercase
}
.fl-node-q7ikedv5m9bn .fl-menu{
  text-align:right
}
.fl-node-q7ikedv5m9bn .fl-menu .menu{
  justify-content:right
}
.fl-node-q7ikedv5m9bn .menu a{
  padding-top:14px;
  padding-right:14px;
  padding-bottom:14px;
  padding-left:14px
}
.fl-node-q7ikedv5m9bn .fl-menu .menu .sub-menu>li{
  font-size:14px;
  line-height:1;
  text-transform:none
}
.fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle{
  float:right
}
@media(max-width:1200px){
  .fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle{
      float:none
  }
}
@media(max-width:992px){
  .fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle{
      float:none
  }
}
@media(max-width:768px){
  .fl-node-q7ikedv5m9bn .menu li.fl-has-submenu ul.sub-menu{
      padding-left:15px
  }
  .fl-node-q7ikedv5m9bn .fl-menu .sub-menu{
      background-color:transparent
  }
  .fl-node-q7ikedv5m9bn .fl-menu-mobile-toggle{
      float:none
  }
}
.fl-node-q7ikedv5m9bn>.fl-module-content{
  margin-top:0;
  margin-bottom:0
}
img.mfp-img{
  padding-bottom:40px!important
}
.fl-builder-edit .fl-fill-container img{
  transition:object-position .5s
}
.fl-fill-container :is(.fl-module-content,.fl-photo,.fl-photo-content,img){
  height:100%!important;
  width:100%!important
}
@media (max-width:768px){
  .fl-photo-content,.fl-photo-img{
      max-width:100%
  }
}
.fl-node-ld7cxhoyaub1,.fl-node-ld7cxhoyaub1 .fl-photo{
  text-align:left
}
.fl-node-ld7cxhoyaub1>.fl-module-content{
  margin-top:10px;
  margin-bottom:10px
}
.fl-builder-content[data-type="header"].fl-theme-builder-header-sticky{
  position:fixed;
  width:100%;
  z-index:100
}
.fl-theme-builder-flyout-menu-push-left .fl-builder-content[data-type="header"].fl-theme-builder-header-sticky{
  left:auto!important;
  transition:left 0.2s!important
}
.fl-theme-builder-flyout-menu-push-right .fl-builder-content[data-type="header"].fl-theme-builder-header-sticky{
  right:auto!important;
  transition:right 0.2s!important
}
.fl-builder-content[data-type="header"].fl-theme-builder-header-sticky .fl-menu .fl-menu-mobile-opacity{
  height:100vh;
  width:100vw
}
.fl-builder-content[data-type="header"]:not([data-overlay="1"]).fl-theme-builder-header-sticky .fl-menu-mobile-flyout{
  top:0
}
.fl-theme-builder-flyout-menu-active body{
  margin-left:0px!important;
  margin-right:0px!important
}
.fl-theme-builder-has-flyout-menu,.fl-theme-builder-has-flyout-menu body{
  overflow-x:hidden
}
.fl-theme-builder-flyout-menu-push-right{
  right:0;
  transition:right 0.2s ease-in-out
}
.fl-theme-builder-flyout-menu-push-left{
  left:0;
  transition:left 0.2s ease-in-out
}
.fl-theme-builder-flyout-menu-active .fl-theme-builder-flyout-menu-push-right{
  position:relative;
  right:250px
}
.fl-theme-builder-flyout-menu-active .fl-theme-builder-flyout-menu-push-left{
  position:relative;
  left:250px
}
.fl-theme-builder-flyout-menu-active .fl-builder-content[data-type="header"] .fl-menu-disable-transition{
  transition:none
}
.fl-builder-content[data-shrink="1"] .fl-row-content-wrap,.fl-builder-content[data-shrink="1"] .fl-col-content,.fl-builder-content[data-shrink="1"] .fl-module-content,.fl-builder-content[data-shrink="1"] img{
  -webkit-transition:all 0.4s ease-in-out,background-position 1ms;
  -moz-transition:all 0.4s ease-in-out,background-position 1ms;
  transition:all 0.4s ease-in-out,background-position 1ms
}
.fl-builder-content[data-shrink="1"] img{
  width:auto
}
.fl-builder-content[data-shrink="1"] img.fl-photo-img{
  width:auto;
  height:auto
}
.fl-builder-content[data-type="header"].fl-theme-builder-header-shrink .fl-row-content-wrap{
  margin-bottom:0;
  margin-top:0
}
.fl-theme-builder-header-shrink-row-bottom.fl-row-content-wrap{
  padding-bottom:5px
}
.fl-theme-builder-header-shrink-row-top.fl-row-content-wrap{
  padding-top:5px
}
.fl-builder-content[data-type="header"].fl-theme-builder-header-shrink .fl-col-content{
  margin-bottom:0;
  margin-top:0;
  padding-bottom:0;
  padding-top:0
}
.fl-theme-builder-header-shrink-module-bottom.fl-module-content{
  margin-bottom:5px
}
.fl-theme-builder-header-shrink-module-top.fl-module-content{
  margin-top:5px
}
.fl-builder-content[data-type="header"].fl-theme-builder-header-shrink img{
  -webkit-transition:all 0.4s ease-in-out,background-position 1ms;
  -moz-transition:all 0.4s ease-in-out,background-position 1ms;
  transition:all 0.4s ease-in-out,background-position 1ms
}
.fl-builder-content[data-overlay="1"]:not(.fl-theme-builder-header-sticky):not(.fl-builder-content-editing){
  position:absolute;
  width:100%;
  z-index:100
}
.fl-builder-edit body:not(.single-fl-theme-layout) .fl-builder-content[data-overlay="1"]{
  display:none
}
body:not(.single-fl-theme-layout) .fl-builder-content[data-overlay="1"]:not(.fl-theme-builder-header-scrolled):not([data-overlay-bg="default"]) .fl-row-content-wrap,body:not(.single-fl-theme-layout) .fl-builder-content[data-overlay="1"]:not(.fl-theme-builder-header-scrolled):not([data-overlay-bg="default"]) .fl-col-content{
  background:transparent
}
.fl-node-kgbajot50uhe{
  color:#fff
}
.fl-builder-content .fl-node-kgbajot50uhe *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle){
  color:inherit
}
.fl-builder-content .fl-node-kgbajot50uhe a{
  color:#fff
}
.fl-builder-content .fl-node-kgbajot50uhe a:hover{
  color:#fff
}
.fl-builder-content .fl-node-kgbajot50uhe h1,.fl-builder-content .fl-node-kgbajot50uhe h2,.fl-builder-content .fl-node-kgbajot50uhe h3,.fl-builder-content .fl-node-kgbajot50uhe h4,.fl-builder-content .fl-node-kgbajot50uhe h5,.fl-builder-content .fl-node-kgbajot50uhe h6,.fl-builder-content .fl-node-kgbajot50uhe h1 a,.fl-builder-content .fl-node-kgbajot50uhe h2 a,.fl-builder-content .fl-node-kgbajot50uhe h3 a,.fl-builder-content .fl-node-kgbajot50uhe h4 a,.fl-builder-content .fl-node-kgbajot50uhe h5 a,.fl-builder-content .fl-node-kgbajot50uhe h6 a{
  color:#fff
}
.fl-node-kgbajot50uhe>.fl-row-content-wrap{
  background-color:var(--fl-global-primary);
  border-top-width:1px;
  border-right-width:0;
  border-bottom-width:1px;
  border-left-width:0
}
.fl-node-kgbajot50uhe>.fl-row-content-wrap{
  padding-top:60px;
  padding-bottom:50px
}
.fl-node-co4df1zweju8{
  color:#fff
}
.fl-builder-content .fl-node-co4df1zweju8 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle){
  color:inherit
}
.fl-builder-content .fl-node-co4df1zweju8 a{
  color:#fff
}
.fl-builder-content .fl-node-co4df1zweju8 a:hover{
  color:#fff
}
.fl-builder-content .fl-node-co4df1zweju8 h1,.fl-builder-content .fl-node-co4df1zweju8 h2,.fl-builder-content .fl-node-co4df1zweju8 h3,.fl-builder-content .fl-node-co4df1zweju8 h4,.fl-builder-content .fl-node-co4df1zweju8 h5,.fl-builder-content .fl-node-co4df1zweju8 h6,.fl-builder-content .fl-node-co4df1zweju8 h1 a,.fl-builder-content .fl-node-co4df1zweju8 h2 a,.fl-builder-content .fl-node-co4df1zweju8 h3 a,.fl-builder-content .fl-node-co4df1zweju8 h4 a,.fl-builder-content .fl-node-co4df1zweju8 h5 a,.fl-builder-content .fl-node-co4df1zweju8 h6 a{
  color:#fff
}
.fl-node-co4df1zweju8>.fl-row-content-wrap{
  background-color:#000;
  border-top-width:1px;
  border-right-width:0;
  border-bottom-width:1px;
  border-left-width:0
}
.fl-node-co4df1zweju8>.fl-row-content-wrap{
  padding-bottom:0
}
.fl-node-zxap3byscr95{
  width:100%
}
.fl-node-ym5zsaw6kxtd{
  width:33.33%
}
.fl-node-ym5zsaw6kxtd>.fl-col-content{
  border-top-width:1px;
  border-right-width:1px;
  border-bottom-width:1px;
  border-left-width:1px
}
.fl-node-re1kb7cglui8{
  width:50%
}
.fl-node-1n8i3x69u5wr{
  width:33.33%
}
.fl-node-1n8i3x69u5wr>.fl-col-content{
  border-top-width:1px;
  border-right-width:1px;
  border-bottom-width:1px;
  border-left-width:1px
}
.fl-node-qi7uyxf61sht{
  width:50%
}
.fl-node-8gb2qw7uycz4{
  width:33.33%
}
.fl-node-8gb2qw7uycz4>.fl-col-content{
  border-top-width:1px;
  border-right-width:1px;
  border-bottom-width:1px;
  border-left-width:1px
}
.fl-builder-content .fl-rich-text strong{
  font-weight:700
}
.fl-module.fl-rich-text p:last-child{
  margin-bottom:0
}
.fl-builder-edit .fl-module.fl-rich-text p:not(:has(~*:not(.fl-block-overlay))){
  margin-bottom:0
}
.fl-node-1djfesxzr3t2>.fl-module-content{
  margin-top:0;
  margin-bottom:0
}
@media (max-width:768px){
  .fl-module-icon{
      text-align:center
  }
}
.fl-node-0iefbq4d3nmr .fl-icon i,.fl-node-0iefbq4d3nmr .fl-icon i:before{
  color:#9b9b9b
}
.fl-node-0iefbq4d3nmr .fl-icon i:hover,.fl-node-0iefbq4d3nmr .fl-icon i:hover:before,.fl-node-0iefbq4d3nmr .fl-icon a:hover i,.fl-node-0iefbq4d3nmr .fl-icon a:hover i:before{
  color:#7f7f7f
}
.fl-node-0iefbq4d3nmr .fl-icon i,.fl-node-0iefbq4d3nmr .fl-icon i:before{
  font-size:16px
}
.fl-node-0iefbq4d3nmr .fl-icon-wrap .fl-icon-text{
  height:28px
}
.fl-node-0iefbq4d3nmr.fl-module-icon{
  text-align:left
}
@media(max-width:1200px){
  .fl-node-0iefbq4d3nmr .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:992px){
  .fl-node-0iefbq4d3nmr .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:768px){
  .fl-node-0iefbq4d3nmr .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
.fl-node-0iefbq4d3nmr>.fl-module-content{
  margin-top:0;
  margin-bottom:0;
  margin-left:5px
}
.fl-node-c35hf74lzbx6 .fl-icon i,.fl-node-c35hf74lzbx6 .fl-icon i:before{
  color:#9b9b9b
}
.fl-node-c35hf74lzbx6 .fl-icon i,.fl-node-c35hf74lzbx6 .fl-icon i:before{
  font-size:16px
}
.fl-node-c35hf74lzbx6 .fl-icon-wrap .fl-icon-text{
  height:28px
}
.fl-node-c35hf74lzbx6.fl-module-icon{
  text-align:left
}
@media(max-width:1200px){
  .fl-node-c35hf74lzbx6 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:992px){
  .fl-node-c35hf74lzbx6 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:768px){
  .fl-node-c35hf74lzbx6 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
.fl-node-c35hf74lzbx6>.fl-module-content{
  margin-top:0;
  margin-right:0;
  margin-bottom:0;
  margin-left:3px
}
@media (max-width:768px){
  /* .fl-node-xn0ierudcpal.fl-module>.fl-module-content{
      margin-top:0
  } */
}
.fl-node-738vj2gcbdir .fl-icon i,.fl-node-738vj2gcbdir .fl-icon i:before{
  color:#9b9b9b
}
.fl-node-738vj2gcbdir .fl-icon i:hover,.fl-node-738vj2gcbdir .fl-icon i:hover:before,.fl-node-738vj2gcbdir .fl-icon a:hover i,.fl-node-738vj2gcbdir .fl-icon a:hover i:before{
  color:#7f7f7f
}
.fl-node-738vj2gcbdir .fl-icon i,.fl-node-738vj2gcbdir .fl-icon i:before{
  font-size:16px
}
.fl-node-738vj2gcbdir .fl-icon-wrap .fl-icon-text{
  height:28px
}
.fl-node-738vj2gcbdir.fl-module-icon{
  text-align:left
}
@media(max-width:1200px){
  .fl-node-738vj2gcbdir .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:992px){
  .fl-node-738vj2gcbdir .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:768px){
  .fl-node-738vj2gcbdir .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
.fl-node-738vj2gcbdir>.fl-module-content{
  margin-top:0;
  margin-bottom:0;
  margin-left:5px
}
.fl-node-wy3h9aq5pxv0 .fl-icon i,.fl-node-wy3h9aq5pxv0 .fl-icon i:before{
  color:#9b9b9b
}
.fl-node-wy3h9aq5pxv0 .fl-icon i,.fl-node-wy3h9aq5pxv0 .fl-icon i:before{
  font-size:16px
}
.fl-node-wy3h9aq5pxv0 .fl-icon-wrap .fl-icon-text{
  height:28px
}
.fl-node-wy3h9aq5pxv0.fl-module-icon{
  text-align:left
}
@media(max-width:1200px){
  .fl-node-wy3h9aq5pxv0 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:992px){
  .fl-node-wy3h9aq5pxv0 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:768px){
  .fl-node-wy3h9aq5pxv0 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
.fl-node-wy3h9aq5pxv0>.fl-module-content{
  margin-top:0;
  margin-right:0;
  margin-bottom:0;
  margin-left:3px
}
.fl-module-heading .fl-heading{
  padding:0!important;
  margin:0!important
}
.fl-node-kiez61goqbju.fl-module-heading .fl-heading{
  font-family:Lora,serif;
  font-weight:700;
  font-size:21px;
  text-align:left
}
.fl-node-kiez61goqbju>.fl-module-content{
  margin-bottom:0
}
.fl-node-8cdsfx2wuag9.fl-module-heading .fl-heading{
  font-family:Lora,serif;
  font-weight:700;
  font-size:21px;
  text-align:left
}
.fl-node-3dylvt0msrni.fl-module-heading .fl-heading{
  font-family:Lora,serif;
  font-weight:700;
  font-size:21px;
  text-align:left
}
.fl-node-3dylvt0msrni>.fl-module-content{
  margin-bottom:0
}
@media (max-width:768px){
  .fl-node-16vryos5du0w.fl-module>.fl-module-content{
      margin-bottom:0
  }
}
.fl-node-mrcsita0lob4 .fl-icon i,.fl-node-mrcsita0lob4 .fl-icon i:before{
  color:#fff
}
.fl-node-mrcsita0lob4 .fl-icon i:hover,.fl-node-mrcsita0lob4 .fl-icon i:hover:before,.fl-node-mrcsita0lob4 .fl-icon a:hover i,.fl-node-mrcsita0lob4 .fl-icon a:hover i:before{
  color:#f4f4f4
}
.fl-node-mrcsita0lob4 .fl-icon i,.fl-node-mrcsita0lob4 .fl-icon i:before{
  font-size:16px
}
.fl-node-mrcsita0lob4 .fl-icon-wrap .fl-icon-text{
  height:28px
}
.fl-node-mrcsita0lob4.fl-module-icon{
  text-align:left
}
@media(max-width:1200px){
  .fl-node-mrcsita0lob4 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:992px){
  .fl-node-mrcsita0lob4 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:768px){
  .fl-node-mrcsita0lob4 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
  .fl-node-mrcsita0lob4.fl-module-icon{
      text-align:left
  }
}
.fl-node-mrcsita0lob4>.fl-module-content{
  margin-top:0;
  margin-bottom:0
}
.fl-node-ugqv8odk5f49 .fl-icon i,.fl-node-ugqv8odk5f49 .fl-icon i:before{
  color:#fff
}
.fl-node-ugqv8odk5f49 .fl-icon i:hover,.fl-node-ugqv8odk5f49 .fl-icon i:hover:before,.fl-node-ugqv8odk5f49 .fl-icon a:hover i,.fl-node-ugqv8odk5f49 .fl-icon a:hover i:before{
  color:#f4f4f4
}
.fl-node-ugqv8odk5f49 .fl-icon i,.fl-node-ugqv8odk5f49 .fl-icon i:before{
  font-size:16px
}
.fl-node-ugqv8odk5f49 .fl-icon-wrap .fl-icon-text{
  height:28px
}
.fl-node-ugqv8odk5f49.fl-module-icon{
  text-align:left
}
@media(max-width:1200px){
  .fl-node-ugqv8odk5f49 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:992px){
  .fl-node-ugqv8odk5f49 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:768px){
  .fl-node-ugqv8odk5f49 .fl-icon-wrap .fl-icon-text{
      height:28px
  }
  .fl-node-ugqv8odk5f49.fl-module-icon{
      text-align:left
  }
}
.fl-node-ugqv8odk5f49>.fl-module-content{
  margin-top:0;
  margin-bottom:0
}
.fl-node-9uslcjz72mfb .fl-icon i,.fl-node-9uslcjz72mfb .fl-icon i:before{
  color:#fff
}
.fl-node-9uslcjz72mfb .fl-icon i:hover,.fl-node-9uslcjz72mfb .fl-icon i:hover:before,.fl-node-9uslcjz72mfb .fl-icon a:hover i,.fl-node-9uslcjz72mfb .fl-icon a:hover i:before{
  color:#f4f4f4
}
.fl-node-9uslcjz72mfb .fl-icon i,.fl-node-9uslcjz72mfb .fl-icon i:before{
  font-size:16px
}
.fl-node-9uslcjz72mfb .fl-icon-wrap .fl-icon-text{
  height:28px
}
.fl-node-9uslcjz72mfb.fl-module-icon{
  text-align:left
}
@media(max-width:1200px){
  .fl-node-9uslcjz72mfb .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:992px){
  .fl-node-9uslcjz72mfb .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:768px){
  .fl-node-9uslcjz72mfb .fl-icon-wrap .fl-icon-text{
      height:28px
  }
  .fl-node-9uslcjz72mfb.fl-module-icon{
      text-align:left
  }
}
.fl-node-9uslcjz72mfb>.fl-module-content{
  margin-top:0;
  margin-bottom:0
}
.fl-node-18edohsqcpyg .fl-icon i,.fl-node-18edohsqcpyg .fl-icon i:before{
  color:#fff
}
.fl-node-18edohsqcpyg .fl-icon i:hover,.fl-node-18edohsqcpyg .fl-icon i:hover:before,.fl-node-18edohsqcpyg .fl-icon a:hover i,.fl-node-18edohsqcpyg .fl-icon a:hover i:before{
  color:#efefef
}
.fl-node-18edohsqcpyg .fl-icon i,.fl-node-18edohsqcpyg .fl-icon i:before{
  font-size:16px
}
.fl-node-18edohsqcpyg .fl-icon-wrap .fl-icon-text{
  height:28px
}
.fl-node-18edohsqcpyg.fl-module-icon{
  text-align:left
}
@media(max-width:1200px){
  .fl-node-18edohsqcpyg .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:992px){
  .fl-node-18edohsqcpyg .fl-icon-wrap .fl-icon-text{
      height:28px
  }
}
@media(max-width:768px){
  .fl-node-18edohsqcpyg .fl-icon-wrap .fl-icon-text{
      height:28px
  }
  .fl-node-18edohsqcpyg.fl-module-icon{
      text-align:left
  }
}
.fl-node-18edohsqcpyg>.fl-module-content{
  margin-top:0;
  margin-bottom:0
}
.fl-node-un4odxh02p9a{
  color:#fff
}
.fl-builder-content .fl-node-un4odxh02p9a *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle){
  color:inherit
}
.fl-builder-content .fl-node-un4odxh02p9a a{
  color:#fff
}
.fl-builder-content .fl-node-un4odxh02p9a a:hover{
  color:#fff
}
.fl-builder-content .fl-node-un4odxh02p9a h1,.fl-builder-content .fl-node-un4odxh02p9a h2,.fl-builder-content .fl-node-un4odxh02p9a h3,.fl-builder-content .fl-node-un4odxh02p9a h4,.fl-builder-content .fl-node-un4odxh02p9a h5,.fl-builder-content .fl-node-un4odxh02p9a h6,.fl-builder-content .fl-node-un4odxh02p9a h1 a,.fl-builder-content .fl-node-un4odxh02p9a h2 a,.fl-builder-content .fl-node-un4odxh02p9a h3 a,.fl-builder-content .fl-node-un4odxh02p9a h4 a,.fl-builder-content .fl-node-un4odxh02p9a h5 a,.fl-builder-content .fl-node-un4odxh02p9a h6 a{
  color:#fff
}
.fl-node-un4odxh02p9a>.fl-row-content-wrap:after{
  background-color:rgba(10,0,0,.7)
}
.fl-node-un4odxh02p9a>.fl-row-content-wrap{
  background-image:var(--wpr-bg-e59b51ac-67a1-4c9e-96cd-6afd1bbc72e3);
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  background-size:cover;
  border-top-width:1px;
  border-right-width:0;
  border-bottom-width:1px;
  border-left-width:0
}
.fl-node-un4odxh02p9a>.fl-row-content-wrap{
  padding-top:50px;
  padding-bottom:50px
}
.fl-node-plwkbg2hro4z>.fl-row-content-wrap{
  padding-top:50px;
  padding-bottom:50px
}
.fl-node-ye3m85uwk624{
  width:100%
}
.fl-node-lowcnv9j38bt{
  width:100%
}
.fl-node-qlbg0h15o8kf.fl-module-heading .fl-heading{
  font-family:Lora,serif;
  font-weight:700;
  font-size:31px
}
.fl-node-6dgzpcluw0fi>.fl-module-content{
  margin-bottom:0
}
.fl-node-sxjthyul0947,.fl-node-sxjthyul0947 .fl-photo{
  text-align:center
}
.fl-node-sxjthyul0947 .fl-photo-content,.fl-node-sxjthyul0947 .fl-photo-img{
  width:100%
}
.fl-node-sxjthyul0947>.fl-module-content{
  margin-bottom:-20px
}
@media (max-width:768px){
  .fl-node-sxjthyul0947>.fl-module-content{
      margin-bottom:20px
  }
}
